body {
  font-family: Arial, Helvetica, sans-serif;
}

body div:nth-child(2) {
  width: 960px;
  margin: auto;
}

header {
  background-color: rgb(83, 83, 83);
  padding: 15px 0;
  text-align-last: justify;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
nav {
  margin: auto;
  width: 960px;
}

img {
  max-width: 100%;
}
section {
  /* margin: 25px; */
}

body > div > section:first-child {
  margin: 25px 0;
}

body > div > div:nth-of-type(1) {
    width: 960px;
    text-align-last: justify;
}

div div section:nth-child(1),
div div section:nth-child(2),
div div section:nth-child(3) {
  display: inline-block;
  
}

body > div:nth-of-type(2)  div:nth-child(3) {
    margin: 25px 0;
    float: left;
    

}

body > div:nth-of-type(2) div:nth-of-type(2) {
    /* border: gold 2px solid; */
    width: 960px;
}

body > div:nth-of-type(2) div:nth-of-type(2) section {
    display: block;
    /* border: green 5px solid; */
    float: left;


}

body > div:nth-of-type(2) div:nth-of-type(2) div {
    width: 455px;
    height: 400px;
    margin-left: 25px;
    display: block;
    float: right;
    text-align-last: left;
    /* border: red 2px solid; */
}

h5 {
margin-bottom: 15px;
font-size: larger;
font-weight: bold;
}

body > div:nth-of-type(2) div:nth-of-type(2) div p{
    overflow: scroll;
    height: 77.5%;
}

body > div:nth-of-type(2) div:nth-of-type(2) div a {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    top: 20px;
    padding: 20px 30px;
}

footer {
    position: relative;
    top: 100px;
    clear: both;
    height: 200px;
    background-color: rgb(0, 0, 0);
}